.banner{
    background-image:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../images/background.jpeg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    
}

.banner h1{
    margin-right: 500px;
    font-size: 60px;
    margin-top: 100px;
    font-weight: 500;
    color: white;
}
.banner p{
    margin-right: 500px;
    margin-bottom: 0;
    color: white;
}

.banner h2{
    font-weight: 350;
    font-size: 30px;
    margin-right: 500px;
    margin-bottom: 0;
    color: white;
}

@media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .banner h1 {
      margin-right: 0;
    }
    .banner h2 {
        font-size: medium;
        margin-right: 0;
      }
}
/* @media (max-width: 540px) {
    .container {
    width: 300px;
    }
} 
*/