.banner{
    background-image:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../images/background.jpeg");
    background-size: cover;
    background-position: center;
    height: 85vh;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.banner h1{
    margin-right: 500px;
    font-size: 60px;
    margin-top: 100px;
    font-weight: 500;
}

.banner h2{
    font-weight: 350;
    font-size: 25px;
    margin-right: 500px;
    margin-bottom: 0;
}

.banner .btn{
    margin-right: 675px;
}

/* Animations */
.banner h1, .banner h2, .banner a, #arrow{
    opacity: 0;
    transform: translateX(-100%); 
    animation: slideIn 1.5s ease-out forwards;
}

.banner h1 {
    animation-delay: 0.2s;
}

.banner h2 {
    animation-delay: 0.4s;
}

.banner a {
    animation-delay: 0.6s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0); 
    }
}
/* Responsive Design */
@media (max-width: 720px) {
    .banner h1 {
      margin-right: 0;
    }
    .banner h2 {
        font-size: medium;
        margin-right: 0;
      }
    .banner{
        height: auto;
    }
}