.banner{
    background-image:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../images/background.jpeg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    
}

.banner h1{
    font-size: 50px;
    margin-top: 150px;
}
.banner h1, h2, p{
    margin-right: 500px;
}