.cards{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
    border-top: 1.5px solid white; 
    border-bottom: 1.5px solid white;
    flex-wrap: no-wrap;
    justify-content: space-between;
}

.card{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 48%;
}

.cards h2{
    color: #2A3633;
}

.card p{
    text-align: justify;
}

/* Resposive Design */
@media (max-width: 800px) {
    .card {
        flex-basis: 100%;  
    }
    .row{
        flex-wrap: wrap;
    }
}