.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 1150px;
}

/* Responsive Design */
@media (max-width: 960px) {
    .container {
      width: 700px;
    }    
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {

  .container {
    width: 300px;
  }
}